body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: rgba(241, 241, 241, 0.6) url('https://media.discordapp.net/attachments/909911793797840998/1196773253847465984/2.png') right/cover fixed no-repeat;
    background-size: 50%;
}

header {
    background: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    margin-right: -20px; /* Ajustez la valeur selon vos besoins pour décaler l'image vers la gauche */ 
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    transition: color 0.3s;
}

main {
    padding: 20px;
    text-align: right;
}

section {
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

.logo img {
    width: 50px;
    height: auto;
}

.video-container2 {
    margin-left: -200px; /* Ajustez la valeur en fonction de vos besoins pour déplacer la vidéo vers la gauche */
    margin-top: -241px;
}
.video-container {
    margin-left: -800px; /* Ajustez la valeur en fonction de vos besoins pour déplacer la vidéo vers la gauche */
    margin-top: 100px;
}
.button-link {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #ff00cc; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte */
    border: 2px solid #ff00d0; /* Couleur de la bordure */
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s, color 0.3s;
    position: relative; /* Add relative positioning */
    z-index: 2; /* Set a higher z-index value */
}

.button-link:hover {
    background-color: #ff00f7; /* Couleur de fond du bouton au survol */
    border: 2px solid rgb(255, 0, 187); /* Couleur de la bordure au survol */
    color: #ffffff; /* Couleur du texte au survol */
}

footer {
    background: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1; /* Set a lower z-index value compared to buttons */
}
